.NameHeader{
    color: black;
}

.Name {
    color: blue;
    font-size: 30px;
}

.Description {
    font-size: 20px;
}

.RealImage {
    width: 100px;
    margin-left: 50px;
}

.ImageIcons {
    display: flex;
    align-items: center;
}

.Image {
    height: 50px;
    width: 50px;
}

.Container {
    display: flex;
    align-items: center;
}

/* Needs to have hover over it to get bigger and highlight*/
.Social {
    color: red;
}